
.container {
   // width: 600px;
   // height: 250px;
   // overflow: auto;
}

.table {
   border-collapse: collapse;
   // width: 800px;
   // height: 300px;
   & th,
   & td {
      padding: 5px 10px;
   }
   
   & tr {
      height: 44px;
   }

   &__block {
      border-bottom: 1px solid #e9e9e9;
   }

   
   &__head {
      background: #e9e9e9;
   }

   &__body {
   }
}
