.table {
   text-align: center;
   & th {
      padding: 8px 16px;
   }
   &__head {
   }

   &__title {
   }

   &__body {
      & td {
         max-width: 70px;
      }
   }

   &__value {
   }

   &__edit {
      width: 100%;
      height: 100%;
      border: none;
      cursor: pointer;
      color: #5db948;
      &:hover {
         color: #3fa029;
      }
   }
   &__input {
      border: 1px solid #a5a5a5;
      width: -webkit-fill-available;;
      &-active {

      }
   }
}
